BINANCE_API_KEY=ta_cle_api
BINANCE_API_SECRET=ton_secret_api
TELEGRAM_TOKEN=8014211457:AAFXpuaMtJ7A7swjUSWFTB_S1Ebrc3JHaFA
TELEGRAM_CHAT_ID=-4932489097
TRADING_PAIR=BTCUSDT
LEVERAGE=10
POSITION_SIZE=0.001
TAKE_PROFIT=0.01
STOP_LOSS=0.005
PARTIAL_TAKE_PROFIT=0.005
MODE=live
